<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Cadastro de Usuários</title>
</head>

<body>
    <h1>Adicionar Usuario</h1>
    <form action="/usuario/salvar" method="post">
        <label>Nome</label>
        <input type="text" id="nome" name="NOME_USUARIO" placeholder="Nome do Usuário" />
        <br />
        <br />
        <label>E-mail</label>
        <input type="email" id="email" name="EMAIL_USUARIO" placeholder="E-mail do usuário" />
        <br />
        <br />
        <label>Senha</label>
        <input type="password" id="senha" name="SENHA_USUARIO" placeholder="Informe a senha" />

        <br />
        <br />

        <input type="submit" value="Enviar" />
    </form>
</body>

</html>